# Pacharm settings
.idea/
build
TransUNet.egg-info
dist

# Venv
venv/

# Python chache
__pycache__/
.ipynb_checkpoints
.cache

# Logs folders
logs
tmp
mlruns
model/TU_Synapse224

# Audio and video
*.avi
*.mp4

# Images
*.jpg
*.bmp
*.png
*.svg
*.depth
*.reg

# Features
*.desc
*.kpt
*.mathces
*.overlapping

# Archives
*.tgz
*.zip
*.rar
*.gz
#*.npz
*.txt
*.db
*.lst

# Python models
*.npy
*.pkl
*.pt
*.pth
*.ckpt